div.outer{
	width:100%;
	margin: auto;
}


.social {width:280px;
	margin-left: auto;
	margin-right: auto;
	margin-top:2em;
	display: block;
}


div.container{
	display:flex;
	width: 90%;
	margin: auto;
	max-width:1024px;

}
.image {
	display: flex;
	flex: 1;
	width: 45%;
	padding:4% 2% 0 0;
}

img{ width: 100%; height: 100%;}
.text {
	display: flex;
	flex:1;
	width: 45%;
	padding:4% 0 0 2%;

}

.social img  { height:2em; width:2em; display: inline-block; margin: 0 1em 0 1em;}

.social img:hover {opacity:.6;}

p {font-size: 20px;}

@media screen and ( max-width: 600px) { 
	.container { flex-direction: column; } 
	.image{width:100%;}
	.text{width:100%;}
}


