<div *ngIf="work" class="container">
	<!-- <ul class="work-thumbs">
		<li *ngFor="let image of work-detail.images">
			<img src="../assets/{{image}}" />
		</li>
	</ul> -->
	<h1>{{work.name}}</h1>
	<p>{{work.description}}</p>
	<p>See the full post at <a href="http://qz.com/{{work.url}}" target="_blank">qz.com</a>.</p>
	<div class="videoWrapper">
		<iframe [src]="'https://player.vimeo.com/video/' + work.videoSrc | safe" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>
<div class="social">
	<a href="http://github.com/mabb717" target="_blank"><img src="{{detail.github}}" /></a> <a href="https://twitter.com/michaeljtabb" target="_blank"><img src="{{detail.twitter}}" /></a> <a href="https://vimeo.com/user24828504" target="_blank"><img src="{{detail.vimeo}}" /></a> <a href="http://www.linkedin.com/in/michael-tabb-5707113a/" target="_blank"><img src="{{detail.linkedin}}" /></a>
</div>