<div id="container">
	<div *ngFor="let work of works" >
		<a href="work/{{work.id}}">	
	<!-- 	<a [routerLink]="['/works', work.id]">
	-->		<img src="{{work.image}}" />
			<h1>{{work.name}}</h1>
		</a>
	</div>
</div>
<div class="social">
	<a href="http://github.com/mabb717" target="_blank"><img src="{{detail.github}}" /></a> <a href="https://twitter.com/michaeljtabb" target="_blank"><img src="{{detail.twitter}}" /></a> <a href="https://vimeo.com/user24828504" target="_blank"><img src="{{detail.vimeo}}" /></a>  <a href="http://www.linkedin.com/in/michael-tabb-5707113a/" target="_blank"><img src="{{detail.linkedin}}" /></a>
</div>