#container{width:90%; height: 100%;}
div{display:block;width: 90%;margin: auto;}
img {margin-top: 2em;height: 100%; width: 100%; max-width:500px;}
img:hover {opacity:.9; filter: alpha(opacity=90);}
h1 {margin:0;padding-bottom:1em;font-size: 1em; text-align:center; text-decoration:none; color: #262626; }
a {text-decoration:none; color: #262626; }

@media only screen and (min-width: 480px) {
    div{display:inline-block;width: 46%;margin: auto; padding:0 0 0 3.6%}
}

@media only screen and (min-width: 768px) {
    div{display:inline-block;width:30.23%;margin: auto; padding: 0 0 0 3.1%;}
}